# ENV
.env

.DS_Store
.vscode
.mypy_cache
.docker
docker-stack.yml

# Editor directories and files
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/backend/uploaded_files/

#ignoring google cloud keys
*.json

#python venv
/backend/env-scdao